<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">

<head>
    <title> Animal Types Page </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="cononical" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto" th:insert="blocks/header :: header"></header>
        <div class="container mb-auto mt-5">
            <h1> Animal Types </h1>
            <a th:href="'/animaltype/select'" class="btn btn-warning">Add</a>
            <div th:each="el : ${animalTypes}" class = "alert alert-info mt-2">
                <h3 th:text="${el.name}"/>
                <a th:href="'/animaltype/' + ${el.id}" class="btn btn-warning">details</a>
            </div>
        </div>

        <div  th:insert="blocks/footer :: footer"></div>

    </div>
</body>
</html>