<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">

<head>
    <title> Animal Type Add </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="cononical" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto" th:insert="blocks/header :: header"></header>
    <div class="container mb-auto mt-5 mb-5">
        <h1> Add Animal Type</h1>
        <form action="/animaltype/select" method="post" th:object="${animalType}">
            <div class="form-group">
                <input type="text" name="name" placeholder="Input name of animal type" class="form-control"><br>

                <label for="animalClass">Choose Animal Class</label>
                <select class="form-control selectpicker" th:field="*{animalClass}" id="animalClass">
                    <option th:each="animalClass : ${T(com.github.vjiki.wildsql.models.AnimalClass).values()}"
                            th:value="${animalClass}"
                            th:text="${animalClass}">animalClass
                    </option>
                </select>
                <br>
            </div>

            <div class="form-group">
                <label for="groupOfPopulation">Select Group Of Population</label>
                <select class="form-control selectpicker" th:field="*{groupOfPopulation}" id="groupOfPopulation">
                    <option th:each="groupOfPopulation : ${T(com.github.vjiki.wildsql.models.GroupOfPopulation).values()}"
                            th:value="${groupOfPopulation}"
                            th:text="${groupOfPopulation}">groupOfPopulation
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Add Animal Type</button>
        </form>
    </div>

    <div  th:insert="blocks/footer :: footer"></div>

</div>
</body>
</html>