<div th:fragment="header">
    <div>
        <h3 class="float-md-start mb-0">Wildlife Sanctuary</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Home Page</a>
            <a class="nav-link" href="/animaltypes">Animal Types</a>
            <a class="nav-link" href="/about">Animals</a>
            <a class="nav-link" href="/about">Territory Areas</a>
            <a class="nav-link" href="/about">About us</a>
        </nav>
    </div>
</div>